xterm*font: *-terminus-*-*-*-14-*

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

!! Xterm settings
XTerm*renderFont: true
Xterm*faceName: xft:Mononoki Nerd Font, \
                xft:joyPixels:size=12, \
                xft:Monospace:style=Medium:size=12

XTerm*faceSize: 12
Xterm*utf8: 2
Xterm*locale: true

Xterm.vt100.translations:
    Ctrl <Key> j: smaller-vt-font() \n\
    Ctrl <Key> j: smaller-vt-font()


!special colors
*.background: #282c34
*.foreground: #bbc2cf
*.cursorColor: #afc2cf

!black
*.color0: #1c1f24
*.color8: #5b6268

!green
*.color2 :#98be65
*.color10 :#4db5bd

!yellow
*.color3:#da8548
*.color11:#ecbe7b

!blue
*.color4:#51afae
*.color12:#3071db

!magenta
*.color5:#c678dd
*.color13:#a9a1e1

!cyan
*.color6:#5699af
*.color14:#46d9ff


!white
*.color7:#202328
*.color15:#dfdfdf
!red
*.color1:#ff6c6b
*.color9:#da8548
